<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="NAT\ProductAPI\Api\ProductRepositoryInterface" type="NAT\ProductAPI\Model\ProductRepository" />
    <preference for="NAT\ProductAPI\Api\Data\ProductInterface" type="NAT\ProductAPI\Model\Data\Product" />
</config>
