<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="conten" style="border: 2px solid black;">
        <div class="title">
            <p style="font-weight: 700;">day la Title</p>
        </div>
        <div class="desc" style="height: 200px;
                                width: auto;">
            <p>day la desc</p>
        </div>
        <div class="link">
            <a href="#">Day la link</a>
        </div>
        <div class="date">
            <p>day la ngay-thang-nam</p>
        </div>
    </div>
</body>
</html>

